DATABASE_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_API_SECRET=
INTERNAL_API_URL=
NEXT_PUBLIC_API_URL=
ADMIN_SESSION_SECRET=
NEXT_PUBLIC_IMGBB_API_KEY=
ADMIN_SESSION_COOKIE_NAME=
ADMIN_SESSION_TTL_SECONDS=